.friends {
  padding: 0 12px;
}

.friends .friend__name {
  font-size: 12px;
  margin-bottom: 3px;
}

.friends .friend__birthday,
.friend__name-no-status {
  font-size: 12px;
  font-weight: 600;
}

.friends .friends__plus {
  padding: 10px 0px;
  margin: 10px 0px;
  border-top: 1px solid #ededee;
  border-bottom: 1px solid #ededee;
}
.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 10px;
  opacity: 0.6;
  margin-bottom: 15px;
}
