.friends {
  padding: 0 12px;
}

.container {
  position: relative;
}

.friends .friend__name {
  font-size: 12px;
  margin-bottom: 3px;
}

.friends .friend__birthday,
.friend__name-no-status {
  font-size: 12px;
  font-weight: 600;
}

.friends .friends__plus {
  padding: 10px 0px;
  margin: 10px 0px;
  border-top: 1px solid #ededee;
  border-bottom: 1px solid #ededee;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 10px;
  opacity: 0.6;
  margin-bottom: 15px;
}

.friends__search-content {
  background-color: #ffffff;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: -10px;
  opacity: 0;
}

.friends__search-content-left {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-right: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  width: 90%;
}

.friends__search-icon {
  margin-right: 10px;
}

.friends__search-input {
  outline: none;
  font-size: 12px;
  border: none;
  background-color: #f9f9f9;
}

.friends__search-cancel {
  margin-right: 15px;
  width: 10%;
}

.friends__search-cancel span {
  font-weight: 600;
  cursor: pointer;
}
