.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 15px;
}

.header .header__title {
  font-size: 17px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 17px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__icon {
  width: 17px;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  /* margin-right: 20px; */
  font-size: 14px;
}
