@keyframes text-content {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

.bigScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fce006;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding: 0px 20px;
  display: none;
  animation: text-content 1s linear infinite;
}

@media screen and (min-width: 769px) {
  .bigScreen {
    display: flex;
  }
}

@media screen and (max-width: 376px) {
  body {
    height: 667px !important;
    padding-bottom: 5px !important;
    background-color: red !important;
  }

  body,
  .chats-body {
    background-size: 740px 670px !important;
  }

  .wrapper {
    margin-top: 60px !important;
  }
  .home-btn-center {
    margin-top: 5px !important;
    width: 39px !important;
    height: 39px !important;
  }
  .chat__nav {
    height: 41px !important;
  }

  .friend__content {
    width: 100px !important;
  }
  .friends__plus .friend__content {
    width: 160px !important;
  }

  .find__header-title {
    font-size: 10px !important;
  }
  .friend__birth-number {
    width: 15px !important;
  }
  .friend__now-listening {
    width: 160px !important;
  }
  .listening-column {
    width: 60px !important;
  }
  .wrapper {
    height: 521px !important;
  }
  .friends__search-input {
    width: 159px !important;
  }
  .profile__header-right {
    width: 80px !important;
  }
  .friend__content-wrapper {
    width: 130px !important;
  }
}
